@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: inherit;
    color: inherit;
}

html {
    color: #333333;
}

div.container {
    width: 100%;
    height: 100px;
    background-color: #f4e9e9;
}

header {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header>a>img {
    height: 30px;
    width: auto;
    margin-left: 35px;
}

nav {
    height: 30px;
    margin-left: 35px;
}

.main-menu {
    display: flex;
    justify-content: center;
}

.main-menu>li {
    position: relative;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
}

/* 아래거 색상 변경하기 */
.main-menu>li.active {
    color: #f76670;
}



.slide {
    width: 100%;
    height: 500px;
}

.slide_img {
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    background: url('./img/apotslide-img.jpg');
    position: relative;
}

.slide_img>p {
    position: absolute;
    margin: 35px;
    font-size: 21px;
    font-family: 'Pretendard';
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 21px;
}

.event {
    width: 1400px;
    height: 250px;
    background-color: dodgerblue;
    margin: 0 auto;
    position: relative;
}

.eventppone {
    width: 1400px;
    height: 30px;
    font-size: 30px;
    font-family: 'Pretendard';
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 17.5px;
}

.eventpptwo {
    width: 1400px;
    height: 16px;
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 16px;
    text-align: center;
    position: absolute;
    top: 65px;
}

.eventppthree {
    width: 1400px;
    height: 21px;
    font-size: 21px;
    font-family: 'Pretendard';
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 21px;
    text-align: center;
    position: absolute;
    top: 98.5px;
}

.event_background{
    width: 1400px;
    height: 250px;
}

.goodthing {
    width: 1400px;
    height: 300px;
    background-color: #f4e9e9;
    margin: 0 auto;
    position: relative;
}

.pre_btn {
    position: absolute;
    left: 35px;
    background-color: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    outline: none;

}

.pre_btn object {
    pointer-events: none;
    width: 20px;
    height: auto;
}

.end_btn {
    position: absolute;
    right: 35px;
    background-color: none;
    border: none;
    top: 50%;
    transform: translateY(50%);
    rotate: 180deg;
    outline: none;
}

.end_btn object {
    pointer-events: none;
    width: 20px;
    height: auto;
}

.goodthingthing {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    position: relative;
}

.track {
    display: flex;
    position: absolute;
    width: 2400px;
    height: 300px;
    left: 0;
    top: 0;
    transition: all 0.6s ease;
}

/* 이미지 넣어 보고 크기 맞추기  */
.goodslider {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goodslider>img {
    margin-top: 35px;
    width: 170px;
    height: 170px;

}

.goodslider>p {
    font-family: 'Pretendard';
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 16px;
    margin-bottom: 17.5px;
}

.goodslider button {
    width: 120px;
    height: 30px;
    background-color: #f76670;
    border: none;
    border-radius: 10px;
    font-family: 'Pretendard';
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 13px;
}

.goodslider>p {
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 500;
    letter-spacing: -0.02em;
}

.introduce_div {
    width: 1400px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.introduce_div_blackopa {
    position: absolute;
    width: 1400px;
    height: 300px;
    background-color: #333333;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 1;
}

.introduce_div>p {
    position: absolute;
    top: 35px;
    left: 35px;
    font-size: 21px;
    font-family: 'Pretendard';
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 160%;
    color: #e3e3e3;
    z-index: 2;
}

.introduce_div>img {
    width: 1400px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

.youtube_video {
    width: 1400px;
    height: 400px;
    margin: 0 auto;
}

.youtube_video_inside {
    width: 711px;
    height: 400px;
    margin: 0 auto;
    background-color: blanchedalmond;
    position: relative;
}

.youtube_video_top {
    width: 711px;
    height: 42px;
    background-color: #333333;
    color: #f4e9e9;

}

.youtube_video_top>p {
    margin-left: 35px;
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 42px;
}

.youtube_video_inside>h2 {
    color: #f4e9e9;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    transition: all 0.6s ease 0s;
}

.youtube_video_inside>h2:hover{
    opacity: 1;
}

.youtube_video_background{
    width: 711px;
    height: 400px;
}

footer {
    width: 1400px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    background-color: #f4e9e9;
}

footer>p {
    position: absolute;
    margin: 35px;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 160%;
}
